* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

.flex-container {
  margin-top: 150px;
}

.container {
  display: flex;
  width: 60%;
  margin: 0 auto;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
}

h3 {
  text-align: center;
  margin-bottom: 20px;
}

.input-copy {
  width: calc(1 / 3 * 100%);
  background-color: hsla(31, 77%, 52%, 0.73);
  padding: 2em;
}

.form {
  width: calc(1 / 3 * 100%);
  background-color: hsl(184, 100%, 22%);
  padding: 2em;
}

form label {
  font-weight: bolder;
  font-size: 20px;
  line-height: 3rem;
}

input,
select {
  width: 100%;
  height: 50px;
  font-size: 1rem;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid black;
}

textarea {
  width: 100%;
  height: 300px;
  font-size: 1rem;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.568);
}

button {
  margin-left: auto;
  width: 100%;
  padding: 10px 50px 10px 50px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 16%;
}

.output-copy {
  width: calc(1 / 3 * 100%);
  background-color: steelblue;
  padding: 2em;
}
